html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent; }

body {
  background-color: #111;
  text: white;
  font-family:sans-serif!important;
  background-image: url(/assets/gbhexy.jpg)!important;

}

h2 {
  font-family:sans-serif;
  color: white!important;
  font-size: 45px!important;
  background-color: #303030!important;
  width: 400px!important;
}



.filterDiv {
  float: left;
  background-color: #2196F3;
  color: #ffffff;
  width: 500px;
  line-height: 250px;
  text-align: center;
  margin: 2px;
  display: none;
}

.show {
  display: <html>

}


.container {
    overflow: hidden;
}

.filterDiv {
  float: left;
  background-color: #111;
  color: #ffc207;
  width: 420px;
  height: 175px;
  line-height: 25px;
  text-align: left;
  margin: 2px;
  padding-left: 25px;
  padding-top: 25px;
  padding-bottom: 10px;
  font-size: 20px;
  border-width: 1px;
  border-color: #ffc207;
  display: none; /* Hidden by default */
}




.container {
  margin-top: 20px;
  overflow: hidden;
}


.btn-primary {
  color: white!important;
  background-color: #111!important;
  border-color: #ffc107!important;
 margin-top: 15px!important;
  padding: 15px!important;
  margin-left: 8px;
  }

.btn-primary:hover {
    color: #212529!important;;
    background-color:     #ecc310!important;
    border-color: # #ecc310; }
.btn-primary:focus, .btn-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(241, 205, 49, 0.5)!important; }







input {
  border:solid 1px #ffc107;
  border-radius: 1px;
  margin-left: 20px;
  background-color:#111;
 min-width: 200px!important;
 min-height: 35px!important;
 color: white!important;

}


input:focus {
border:solid 2px;
  border-color:white!important;
}

/* The "show" class is added to the filtered elements */
.show {
    display: block;
}



}




h2 {
  font-family:sans-serif;
  color: #ffc107!important;
  font-size: 35px!important;
}
