html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent; }

.navfooter {
  font-size: 6px!important;
}
body {
  background-color: #111;
  text: #ffc107!important;
  font-family:sans-serif!important;
  background-image: url(/assets/gbhexy.jpg)!important;

}

h2 {
  font-family:sans-serif!important;
  color: #ffc107!important;
  font-size: 45px!important;
  background-color: #111!important;
  width: 400px!important;
}



.btn-primary {
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 10px;
  color: white;
  background-color: #111;
  border-color: #ffc107;
margin-top: 5px;
margin-left: 5px;
margin-bottom: 5px;
}

.btn-primary:hover {
  color: #212529;
  background-color: #ecc310;
  border-color: #e0b90f; }

.btn-primary:focus, .btn-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(241, 205, 49, 0.5); }

.btn-primary.disabled, .btn-primary:disabled {
  color: #212529;
  background-color: #f1cd31;
  border-color: #f1cd31; }

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,

.show > .btn-primary.dropdown-toggle {
  color: #212529;
  background-color: #e0b90f;
  border-color: #d4af0e; }

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
