html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent; }

body {
  background-color: #111;
  text: white;
  font-family:sans-serif!important;

}

h2 {
  font-family:sans-serif;
  color: #ffc107!important;
  font-size: 25px!important;
}
h3 {
  color: white;
  text-align:  center;

}


.btn {
align-self: right!important;
color: white!important;
background-color: #111!important;
padding-bottom: 5px!important;
margin-bottom:20px!important;

margin-top: 10px!important;

;
}


.list {
  font-family:sans-serif;
  margin:0;
  padding:20px 20px 20px;
}
.list > li {
  display:block;
  background-color: #111;
  padding:20px;
  box-shadow: inset 0 1px 0 #fff;
}
.avatar {
  max-width: 150px;
}
table {
  padding: 25px;
  border:solid 1px!important;
  border-color: #ffc107!important;
  background-color: #111;
  color: white!important;
  margin-top: 25px!important;
}

th {
  font-size: 12px!important;
  border-width: 1px!important;
  text-align: center!important;
  border-color: #ffc107!important;
}
tr {
  font-size: 12px!important;
  border-width: 1px!important;
  text-align: center!important;
  border-color: #ffc107!important;

}



.navfooter{

  color: white!important;
  padding-top: 25px;
  margin-bottom: 35px;
  text-align: center;
  font-size: 12px;
}

tbody {

  padding-top: 15px;
  padding bottom: 10px;
  margin-top: 25px
}
tr {
  padding-top: 10px!important;;
  padding-left: 15px!important;
  font-size: 16px;
  margin:0 0 0.3rem;
  font-weight: normal;
  border:solid 1px!important;;
  border-color: #ffc107;
  background-color: #111!important;

}


td {
  font-size: 12px;
  font-weight: normal;
  border:solid 1px;
  border-color: #ffc107;
  background-color:#111;
  padding:  10px;
  padding-left: 10px;
  margin-top:10px;
  min-width: 150px;
  padding-top: 15px;
}

p {
  margin:5px;
}

input {
  border:solid 1px #ffc107;
  border-radius: 1px;
  margin-left: 20px;
  background-color:#111;
 min-width: 200px!important;
 min-height: 35px!important;
 color: white!important;

}
#updatesName {

  background-color: #111;
  font: 12px;
  border-width: 1px;
  border-color: #ffc107;
  max-width: 500px;
}
#updatesPhone {
  background-color: #111;
  font: 12px;
  border-width: 1px;
  border-color: #ffc107;
  max-width: 500px;
}


#updatesEmail{
  background-color: #111;
  font: 12px;
  border-width: 1px;
  border-color: #ffc107;
  max-width: 500px;
}
#updatesAddress {
  background-color: #111;
  font: 12px;
  border-width: 1px;
  border-color: #ffc107;
  max-width: 500px;
}


#updatesLink {
  background-color: #111;
  font: 12px;
  border-width: 1px;
  border-color: #ffc107;
  max-width: 500px;


#updatesNotes {
  background-color: #111;
  font: 12px;
  border-width: 1px;
  border-color: #ffc107;
  max-width: 500px;
  min-height: 50px;
}




input:focus {
border:solid 2px;
  border-color:white!important;
}
